#{extends 'main.html' /}

<div id="breadcrumb">
	<a href="@{Forums.index}">论坛</a>→<a href="@{Forums.show(forum.id)}">${forum.name}</a>
</div>

<h1 id="title">新主题</h1>
<p class="light">
	by ${connected.name}
</p>

<form id="post" action="@{Topics.create(forum.id)}" method="POST" accept-charset="${_response_encoding}">
	<p>
		<label>标题</label>
		<input type="text" name="subject" value="" id="subject" /> <span class="error">#{error 'subject' /}</span>
	</p>
	<p>
		<label>内容</label>
		<textarea name="content" rows="8" cols="40" id="contentText">${flash.content}</textarea>
	</p>
	<p>
		<input type="submit" value="发新贴" id="postTopic" /> 或者 <a class="action" href="@{Forums.show(forum.id)}">取消</a>
	</p>
</form>